html,
body {
	box-sizing: border-box;
	height: 100%;
}

html {
	display: grid;
	place-items: center;
}
body {
	background-image: url("./assets/images/bgr.webp");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgb(53, 53, 77);
}
